@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: inline-block;
  width: 97%;
  height: auto;
  align-self: center;
  margin: 20px;
  border: 1px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.nav {
  display: flex;

  /* width: 100%; */
  float: left;
  margin: 12px;
}

.nav img {
  max-width: 50%;
  height: auto;

  /* margin-left: 35px; */
}

.navigation {
  align-self: center;
}

.navigation ul {
  overflow: hidden;
}

.navigation ul li a {
  color: inherit;
}

.navigation ul li a:hover {
  color: inherit;
}

.navigation ul li a:visited {
  color: inherit;
}

.navigation ul li a:active {
  color: inherit;
}

.navigation ul li {
  display: inline-block;
  margin-left: 45px;
}

.login {
  float: right;
  display: flex;
  align-self: center;
}

.login img {
  max-width: 70%;
  height: auto;
}

.container {
  width: 88%;
  height: auto;
  margin: 16px;

  /* border: 1px solid #ccc; */
  box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
  padding: 16px;
  margin-left: 6%;
}

.list {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.list .book {
  column-span: all;
  padding: 12px;

  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.book .left {
  float: left;
}

.book .clr {
  clear: both;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.remove {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.remove:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.remove:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.details {
  width: 30%;
}

.percentage {
  display: flex;
  gap: 13px;
  width: 25%;
  box-shadow: rgba(17, 17, 26, 1) 1px 0px 0px;
}

.percentage .highlight {
  font-size: 30px;
}

.chapters {
  float: right;
}

.chapterbutton {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.chapterbutton:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

.entry input {
  width: 43%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: 12px;
}

.right {
  float: right;
}
