@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: inline-block;
  width: 97%;
  height: auto;
  align-self: center;
  margin: 20px;
  border: 1px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.nav {
  display: flex;

  /* width: 100%; */
  float: left;
  margin: 12px;
}

.nav img {
  max-width: 50%;
  height: auto;

  /* margin-left: 35px; */
}

.navigation {
  align-self: center;
}

.navigation ul {
  overflow: hidden;
}

.navigation ul li a {
  color: inherit;
}

.navigation ul li a:hover {
  color: inherit;
}

.navigation ul li a:visited {
  color: inherit;
}

.navigation ul li a:active {
  color: inherit;
}

.navigation ul li {
  display: inline-block;
  margin-left: 45px;
}

.login {
  float: right;
  display: flex;
  align-self: center;
}

.login img {
  max-width: 70%;
  height: auto;
}
